body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: white;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 10px;
    color: #001E44;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2.5px;
}
    
  

   h2 {
 color: #1e407c;
 font-family: "Roboto", sans-serif;
 font-weight: 400;
   }

   h3 {
    color: #001E44;
    font-family: "Roboto Condensed", serif;
    font-weight: 300;
   }

strong {
    color: #001E44;
}

  #game {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 20px auto;
    background: white;
    overflow: hidden;
    border: 4px solid #001E44;;
    border-radius: 10px;
  }
  
  #player, #friend {
    position: absolute;
    width: 60px;
    height: auto;
  }
  
  #player {
    bottom: 20px;
    left: 170px;
  }
  
  #friend {
    top: 10px;
    left: 170px;
  }
  
  .raindrop {
    position: absolute;
    width: 30px;
    height: 45px;
   
  }
  
  #game-over, #win {
    display: none;
    font-size: 1.3em;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2.0px;
  }
  
  #game-over {
    color: #1e407c;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2.0px;
  }
  
  #win {
    color:  #1e407c;
    font-family: "Roboto Slab", serif;
  }
  
  #restart-button {
    margin: 20px auto;
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #001E44;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
  }
  
  #restart-button:hover {
    background-color: #0055a5;
  }
  